@charset "utf-8";

body{
    font-size: 100%;
    font-family: 'Helvetica', 'Arial', 'Sans-Serif';
    max-width: 768px;
    text-align: justify;
    text-justify: inter-word;
    margin: 0 auto !important;
  /*background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(235,235,235,1) 50%, rgba(237,237,237,1) 51%, rgba(255,255,255,1) 100%); 
  background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); 
  background: linear-gradient(to top,  rgba(255,255,255,1) 0%,rgba(235,235,235,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%); 
  background-size:  cover;*/
  margin: 0 auto !important;
  float: none !important;
}

nav ul, footer ul, header ul{
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    margin-right: 0px;
    display:inline;
    list-style: none;
    font-weight: bold;
}

nav ul li, footer ul li {
    font-size: 120%;
    display: inline;
    text-align: justify-all;
    text-justify: inter-word;
    margin-right: 3%;
    font-weight: bold;
}

a {
    text-decoration: none;
    /*color: #669900;*/
    color: #860A3E;
}
a:hover {
    text-decoration: underline;
    color: #CE0F5F;
}

h1 {
    font-size: 2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #860A3E;
}
h2 {
    font-size: 1.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #860A3E;
}
h3 {
    font-size: 1.17em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #860A3E;
}
h4 {
    font-size: 1.12em;
}
h5 {
    font-size: .83em;
}
h6 {
    font-size: .75em;
}
p {
    font-size: 1em;
    line-height: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
    text-align: justify;
    text-justify: inter-word;
}

ul.posts {
    font-size: 1em;
    line-height: 1.2em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    color: #333;
    max-width: 700px;
    text-align: justify;
    text-justify: inter-word;
}

.img-rounded {
  border-radius: 10px;
}

.img-circle {
  border-radius: 50%;
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0x;
  padding-right: 0px;
}
.row {
  margin-left: -15px;
  margin-right: -15px;
}


.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}


