---
title: Software
layout: default
---

<div id="main">
    <div id="content" class="container">
        <header>
            <h2>Software</h2>
            <span class="byline">
             Algorithms and methods for graph-theory of brain networks
         </span>
        </header>
        <ul>
            {% for code in site.data.software %}
            <li>
                <h1>{{ code.name }}</h1>
                <p>{{ code.description }}</p>
                <p></p>
                <div class="row">
                    <div class="2u">
                        <p><img class="img-responsive" width="100%" src="{{code.image}}"></p>
                    </div>
                    <div class="2u">
                        <ul>
                            {% if code.github %}
                            <li>
                                <a href="{{code.github}}" alt="Website">Source code: <span class="fa fa-github"></span>  </a>
                            </li>
                            {% endif %}
                            {% if code.gitlab %}
                            <li>
                                <a href="{{code.gitlab}}" alt="Website">Source code: <span class="fa fa-gitlab"></span>  </a>
                            </li>
                            {% endif %}
                            {% if code.downloadform %}
                            <li>
                                <a href="{{code.downloadform}}" alt="Download">Download form: <span class="fa fa-download"></span></a>
                            </li>
                            {% endif %}
                            <!-- <ul> -->
                            {% if code.releases %}
                            <a href="{{code.releases}}" alt="Download">Releases: <span class="fa fa-download"></span></a>
                            {% endif %}
                            <!-- </ul> -->

                        </ul>
                    </div>
                    <div class="8u">
                        {{code.fulldescription | markdownify }}
<!--                         {% if code.documentation %}
                        <a href="{{code.documentation}}">Documentation</a>
                        {% endif %} -->
                    </div>
                </div>
            </li>
            <hr/> {% endfor %}
        </ul>
    </div>
</div>
