---
title: Members
layout: default
---
<div id="main">
    <div id="content" class="container">
        <header>
            <h2>Members</h2>
            <span class="byline">
                People working at the BrainetLab
            </span>
        </header>
        <ul>
            {% for person in site.data.members %}
            <li>
                <h1>{{ person.name }}</h1><p>
                <!-- <p></p> -->
                <div class="row">
                    <div class="2u">
                        <img class="img-circle" width="140" src="{{person.image}}">
                    </div>
                    <div class="2u">
                        <ul>
                            {% if person.iit %}
                            <li>
                                IIT: <a href="http://www.iit.it/people/{{person.iit}}">
                <img class="img" width=16px height=16px src="/assets/iit.png"></a>
                            </li>
                            {% endif %}
                            {% if person.scholar %}
                            <li>
                                Scholar Citations: <a href="http://scholar.google.com/citations?user={{person.scholar}}"><span class="fa fa-graduation-cap"></span> </a>
                            </li>
                            {% endif %}

                            {% if person.github %}
                            <li>
                                Github:
                                <a href="https://github.com/{{person.github}}"> <span class="fa fa-github"></span></a>
                            </li>
                            {% endif %}

                            {% if person.twitter %}
                            <li>
                                Twitter:
                                <a href="https://twitter.com/{{person.twitter}}"> <span class="fa fa-twitter"></span></a>
                            </li>
                            {% endif %}

                            {% if person.linkedin %}
                            <li>
                                LinkedIn:
                                <a href="http://linkedin.com/in/{{person.linkedin}}"> <span class="fa fa-linkedin"></span></a>
                            </li>
                            {% endif %}
                            {% if person.researchgate %}
                            <li>ResearchGate:
                                <a href="http://researchgate.com/profile/{{person.researchgate}}"> <img class="img-circle" width=16px height=16px src="/assets/researchgate.png"></a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="8u">
                        {{person.description}}
                    </div>
                </div>
            </li>
            <hr/>
            {% endfor %}
        </ul>
    </div>
</div>
